@page "/Agenda"
<h3>Agenda</h3>

<PageTitle>Agenda</PageTitle>

<p>Pagina di Agenda.</p>

<div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

@code {
    
}
