@page "/Community"
<h3>Community</h3>

<PageTitle>Community</PageTitle>

<p>Pagina di Community.</p>

<div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

@code {
    
}