@page "/Consulenze"
<h3>Consulenze</h3>

<PageTitle>Consulenze</PageTitle>

<p>Pagina di Consulenze.</p>

<div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

@code {
    
}