/*stile applicato per dare uno stile allo sfondo della pagina*/
.bg{
    background: url("./assets/loginAssets/sfondo.svg") no-repeat left;
    background-color: #BADEFD;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
}

/*stile container login form*/
.loginForm{
    display: flex;
    border-radius: 0.4vw;
    margin: auto;
    width: 60%;
    font-size: 1vw;
    aspect-ratio: 1/0.6;
    background-color: white;
}

/*stile gruppo register*/
.card{
    width: 100%;
    border:none;
    background-color: rgba(12, 65, 40, 0);
}

/*stile per il titolo registrazione*/
.registerTitle{
    font: 800 2.5rem/1.47 "Mplus 1p", Helvetica, Arial, serif; 
    color: white;
    font-size: 2.5vw;
}

/*stile per il sottotitolo registrazione*/
.registerParagraph{
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

/*stile per il form registrazione*/
.LoginParagraph{
    text-transform: capitalize;
    text-align: left;
    color: #343b49;
    font-weight: bold;
    font-size: 1vw;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

/*stile applicato agli inpit del form registrazione*/
.inputRegister{
    border: solid 2px #e8e8e8;
    width: 100%;
    border-radius: 0.2vw;
    padding: 0.5rem;
}

/*bottone per la registrazione*/
.registerButton{
    width: 30%;
    padding: 0.5vw;
    color: black;
    font-weight: bold;
    background-color: white;
    border:none;
    border-radius: 1vw;
    font-size: 1vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.registerButton:hover{
    transform: rotate(3deg);
    filter: brightness(85%);
}

/*stile per applicare un fade alla sezione della registrazione*/
.fadeBlu{
    background: linear-gradient(to bottom, #009AF0, #0060F0);
    border-top-left-radius: 0.4vw;
    border-bottom-left-radius: 0.4vw;
    height: 100%;
    display: flex;
    align-content: center;
}

/*stile aggiuntivo per applicare un immagine decorativa sez registrazione*/
.doctorImg{
    background: url("assets/loginAssets/dottore.svg") no-repeat;
    background-position: bottom right;
    background-size: 50% auto;
    width: 100%;
    height: 95%;
    margin-bottom: 5%;
}

.padd{
    padding: 1.4vw;
}

/*stile generico per gli input del form*/
.inputLogin{
    margin-top: 0.5vh;
    width: 60%;
    height: auto;
    padding: 0.4vw 0.4vw 0.4vw 2vw;
    border-radius: 1vw;
    border: none;
}

.inputLogin::placeholder{
    color: #2c3135;
}

.loginbtn{
    width: 50%;
    padding: 0.5vw;
    color: white;
    font-weight: bold;
    background-color: #1C96E0;
    border:none;
    border-radius: 1vw;
    font-size: 1vw;
    margin-top: 4vh;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.loginbtn:hover{
    transform: rotate(3deg);
    filter: brightness(85%);
}

/*stile aggiuntivo per applicare l'icona della mail al form*/
.mail{
    background: url("./assets/loginAssets/emailIcon.svg") no-repeat;
    background-color: #EBEBEB;
    background-position:  0.4vw;
    background-size: 1.4vw auto;
}

/*stile aggiuntivo per applicare l'icona della password al form*/
.password{
    background: url("./assets/loginAssets/passwordIcon.svg") no-repeat;
    background-color: #EBEBEB;
    background-position:  0.4vw;
    background-size: 1.4vw auto;
}

.loginSide{
    height: 100%;
    display: revert;
}

.registerMob{
    display: none;
}

/*stile pulsante specifico mobile*/
.registerButtonMob{
    font-size: 3vw;
    width: 40%;
    padding: 0.5vw;
    color: #ffffff;
    font-weight: bold;
    background-color: #5184d6;
    border:none;
    border-radius: 1vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.registerButtonMob:hover{
    transform: rotate(3deg);
    filter: brightness(85%);
}

.registerForm{
    background-color: white;
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1.5vw;
}
/*stile per oscurare la pagina quando il pop up è aperto*/
.oscuramento{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.17);
    width: 110%;
    height: 100%;
    top: 0;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}


.formbtn{
    width: 100%;
    border-radius: 0.3vw;
    border: none;
    padding: 0.3rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: filter 0.3s;
    margin-top: 1rem;
}

.formbtn:hover{
    filter: brightness(0.8);
}

.annulla{
    background-color: #ff4f39;
}

.conferma{
    background-color: #1C96E0;
}

.resize {
    font-size: 1.5vw;
}

.errorMessage{
    color: #ff4f39;
    font-weight: bold;
    font-size: 1vw;
}

/*supporto tablet*/    
@media (max-width: 1025px){
    .loginForm{
        width:75%;
        aspect-ratio: 1/0.9;
    }

    .registerTitle{
        font-size: 3.5vw;
    }

    .registerParagraph{
        font-size: 1.7vw;
    }

    .registerButton{
        font-size: 1.7vw;
        width: 40%;
    }

    .loginbtn{
        font-size: 1.7vw;
    }

    .inputLogin{
        font-size: 1.7vw;
    }
    
}

/*supporto tablet mini*/
@media (max-width: 768px){
    .loginForm{
        width: 80%;
        aspect-ratio: 1/0.8;
    }
    
    .registerTitle{
        font-size: 4vw;
    }
    
    .registerParagraph{
        font-size: 2vw;
    }
    
    .resize{
        font-size: 2vw;
    }
    
    .LoginParagraph{
        font-size: 1.5vw;
    }
    
    .registerButton{
        font-size: 2vw;
        width: 40%;
    }
    
    .loginbtn{
        font-size: 2vw;
    }
    
    .formbtn{
        font-size: 1.5vw;
        border-radius: 0.8vw;
    }
    
    .inputLogin{
        font-size: 2vw;
    }

    .registerForm{
        border-radius: 2.8vw;
        width: 63%;
    }
    
    .errorMessage{
        font-size: 1.5vw;
    }
}

/*supporto mobile*/
@media (max-width: 592px){

    .fadeBlu{
        display: none;
    }

    .loginForm{
        width: 80%;
        aspect-ratio: 1/1.3;
        border-radius: 2rem;
    }

    .registerTitle{
        font-size: 5vw;
    }

    .registerParagraph{
        font-size: 3vw;
    }
    
    .LoginParagraph{
        font-size: 2vw;
    }

    .registerButton{
        font-size: 3vw;
        width: 40%;
    }
    
    .inputRegister{
        font-size: 2vw;
    }
    
    .loginbtn{
        font-size: 3vw;
    }

    .inputLogin{
        font-size: 3vw;
    }

    .registerMob{
        display: block;
        font-size: 1.5vw;
    }
    
    .formbtn{
        font-size: 2vw;
        border-radius: 1.6vw;
    }
    
    .registerForm{
        border-radius: 3.2vw;
        width: 70%;
    }
    
    .errorMessage{
        font-size: 2vw;
    }
}