@page "/Preventivi"
<h3>Preventivi</h3>

<PageTitle>Preventivi</PageTitle>

<p>Pagina di Preventivi.</p>

<div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

@code {
    
}
