@using System.Net
@using System
@using System.IO
<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Anagrafica" Match="NavLinkMatch.All">
                <span class="bi anagraficaIcon" aria-hidden="true"></span> Anagrafica
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Preventivi">
                <span class="bi preventiviIcon" aria-hidden="true"></span> Preventivi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contabilità">
                <span class="bi contabilitàIcon" aria-hidden="true"></span> Contabilità
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Agenda" Match="NavLinkMatch.All">
                <span class="bi agendaIcon" aria-hidden="true"></span> Agenda
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Magazzino">
                <span class="bi magazzinoIcon" aria-hidden="true"></span> Magazzino
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Consulenze">
                <span class="bi consulenzeIcon" aria-hidden="true"></span> Consulenze
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Statistiche" Match="NavLinkMatch.All">
                <span class="bi statisticheIcon" aria-hidden="true"></span> Statistiche
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Messaggi">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Messaggi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Community">
                <span class="bi communityIcon" aria-hidden="true"></span> Community
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login Temp
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    private bool[] buttons = new bool[9];
    private string path = "./buttons.dat";

    protected override async Task OnInitializedAsync()
    {
        readNavFile(path);
    }

    //legge i primi 9 bit indipendentemente dal totale dei bytes letti
    public void readNavFile(string path)
    {
        try
        {
            using (FileStream fs = new FileStream(path, FileMode.Open, FileAccess.Read))
            {
                byte[] bytes = File.ReadAllBytes(path);

                for (int i = 0; i < buttons.Length; i++)
                {   //shifto i bit del primo byte a sinistra e vedo se il primo bit a sinistra è 1 o 0 in base alla divisibiltà per 2
                    buttons[i] = ((bytes[0] >> i)%2) != 0;
                }

                buttons[8] = ((bytes[1] >> 0)%2) != 0;
                /*foreach (bool b in buttons)
                {
                    Console.WriteLine(b);
                }*/
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("Errore durante la lettura del file: " + e.Message);
        }
    }
}