<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Anagrafica" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Anagrafica
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Preventivi">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Preventivi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contabilità">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Contabilità
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Agenda" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Agenda
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Magazzino">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Magazzino
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Consulenza">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Consulenza
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Stastiche" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Stastiche
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Messaggi">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Messaggi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Community">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Community
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login Tep
            </NavLink>
        </div>
    </nav>
</div>