@page "/Anagrafica"
<PageTitle>Anagrafica</PageTitle>
@rendermode InteractiveServer

<div class="toolbar">
    <div class="slideContainer"></div>
    <div class="buttonContainer">
        <button class="defButton" @onclick="@toggleForm">AGGIUNGI</button>
        <button class="defButton">MODIFICA</button>
        <button class="defButton">ELIMINA</button>
        <input type="text" placeholder="Search" class="inputSmall"/>
        <div class="insNumero">
            <div class="side">N</div>
            <input type="number"/>
        </div>
    </div>
</div>

@if (visible)
{
    <!-- div contenente il pop-up per l'inserimento dei dati -->
    <div>
        <!-- div contenente la barra superiore -->
        <div>
            <button>DATI PERSONALI</button>
            <button>FAMILIARI</button>
            <button>CONTATTI - FATTURAZIONE</button>
            <button>NOTE</button>
        </div>
        <!-- div contenente i form principali -->
        <div>
            <div>NOME</div>
        </div>
    </div>
}

@code {
    
    private bool visible = false;

    private void toggleForm()
    {
        Console.WriteLine("Spoldi");
        visible = !visible;
    }
}