@page "/Anagrafica"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Anagrafica</PageTitle>

<div class="toolbar">
    <div class="slideContainer"></div>
    <div class="buttonContainer">
        <button class="defButton" >AGGIUNGI</button>
        <button class="defButton">MODIFICA</button>
        <button class="defButton">ELIMINA</button>
        <button class="defButtonSmall">STAMPA</button>
        <input type="text" class="inputSmall" placeholder="Search" />
    </div>
</div>

