@page "/Anagrafica"
<PageTitle>Anagrafica</PageTitle>

<div class="toolbar"><div class="slideContainer"></div><div class="buttonContainer"><button class="defButton">AGGIUNGI</button><button class="defButton">MODIFICA</button><button class="defButton">ELIMINA</button></div></div>

@code {
}