@page "/Anagrafica"
<PageTitle>Anagrafica</PageTitle>
@rendermode InteractiveServer

<div class="toolbar">
    <div class="slideContainer"></div>
    <div class="buttonContainer">
        <button class="defButton" @onclick="@toggleForm">AGGIUNGI</button>
        <button class="defButton">MODIFICA</button>
        <button class="defButton">ELIMINA</button>
        <input type="text" placeholder="Search" class="inputSmall"/>
        <div class="insNumero">
            <div class="side">N</div>
            <input type="number" class="number"/>
        </div>
    </div>
</div>

@if (visible)
{
    <!-- div contenente il pop-up per l'inserimento dei dati -->
    <div>
        <!-- div contenente la barra superiore -->
        <div>
            <button>DATI PERSONALI</button>
            <button>FAMILIARI</button>
            <button>CONTATTI - FATTURAZIONE</button>
            <button>NOTE</button>
        </div>
        <!-- div contenente i form principali -->
        <div>
            <div>
                COGNOME*<br/>
                <input type="text" placeholder="Poretti"/>
            </div>
            <div>
                NOME*<br/>
                <input type="text" placeholder="Giacomo"/>
            </div><br/>
            <div>
                <div>LUOGO DI NASCITA <div>estero<input type="checkbox"></div></div><br/>
                <input type="text" placeholder="Giacomo"/>
            </div>
            <div>
                PROVINCIA<br/>
                <input type="text" placeholder="Milano"/>
            </div>
            <div>
                SESSO<br/>
                <select type="select" placeholder="Poretti">
                    <option value="m">Maschio</option>
                    <option value="f">Femmina</option>
                </select>
            </div><br/>
            <div>
                DATA NASCITA<br/>
                <input type="date"/>
            </div>
        </div>
    </div>
}

@code {
    
    private bool visible = false;

    private void toggleForm()
    {
        Console.WriteLine("Spoldi");
        visible = !visible;
    }
}