@page "/Anagrafica"
<PageTitle>Anagrafica</PageTitle>
@rendermode InteractiveServer

<div class="toolbar"><div class="slideContainer"></div><div class="buttonContainer"><button class="defButton" @onclick="@toggleForm">AGGIUNGI</button><button class="defButton">MODIFICA</button><button class="defButton">ELIMINA</button></div></div>

@if (visible)
{
    <!-- div contenente il pop-up per l'inserimento dei dati -->
    <div>
        <!-- div contenente la barra superiore -->
        <div>
            <button>Dati personali</button>
            <button>Familiari</button>
            <button>Contatti - Fatturazione</button>
            <button>Note</button>
        </div>
    </div>
}

@code {
    
    private bool visible = false;

    private void toggleForm()
    {
        Console.WriteLine("Spoldi");
        visible = !visible;
    }
}