@page "/"

<PageTitle>Home</PageTitle>

<div>
    <table>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data nascita</th>
            <th>Età</th>
            <th>Telefono</th>
            <th>Cellulare</th>
            <th>Cellulare 2</th>
            <th>Da fatturare</th>
            <th>Terminato</th>
            <th>Documentato</th>
            <th>"lock"</th>
            <th>"square"</th>
        </tr>
        <tr>
            <th>Bussy</th>
            <th>Frederick</th>
            <th>06/01/2006</th>
            <th>18a 5m</th>
            <th>...</th>
            <th>3251453658</th>
            <th>...</th>
            <th>Studio dentistico</th>
            <th>NO</th>
            <th>NO</th>
            <th><Input type="checkbox"></th>
            <th>"square"</th>
        </tr>
    </table>
</div>