@page "/"

<PageTitle>Home</PageTitle>

<h1>Home Page</h1>
<div>
    <table>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data nascita</th>
            <th>Età</th>
            <th>Telefono</th>
            <th>Cellulare</th>
            <th>Cellulare 2</th>
            <th>Da fatturare</th>
            <th>Terminato</th>
            <th>Documentato</th>
        </tr>
    </table>
</div>