@page "/"
@page "/Login"

@using MySqlConnector;
@inject IConfiguration Configuration
@rendermode InteractiveServer
@inject NavigationManager NavManager

<PageTitle>Login</PageTitle>
<div class="login-page mainSection">
    <div class="headerRow">
        <!-- Parte sinistra della finestra -->
        <div class="brandingGroup">
            <img class="coverImage" src="./assets/loginAssets/sfondoBlu.png" alt="alt text"/>
            <div class="titleContent">
                <div class="titlesGrid">
                    <h1 class="mainTitle">DeltaDent Web</h1>
                    <h3 class="mainSubtitle">La tua scelta per un futuro web</h3>
                </div>
                <button class="registerButton" @onclick="ToggleRegistration">Registrati</button>
            </div>
            <img class="headerIcon" src="./assets/loginAssets/dottore.svg" alt="alt text"/>
        </div>
        <!-- Parte destra della finestra -->
        <div class="loginGroup">
            <div class="backgroundRectangle"></div>
            <div class="loginContent">
                <div class="welcomeHeader">
                    <h1 class="heroTitle">Ciao!</h1>
                    <h3 class="welcomeSubtitle">Benvenuto</h3>
                </div>
                <div class="emailBox">
                    <input type="email" @bind="emailLog" class="BoxRow imageEmail" maxlength="100"/>
                </div>
                <div class="passwordBox">
                    <input type="password" @bind="passwLog" class="BoxRow imagePassword" maxlength="100"/>
                </div>
                <button class="loginButton" @onclick="tryLogin">Login</button>
                <h5 class="forgotPassword">Password dimenticata</h5>
                @if (errLogin)
                {
                    <h5 class="errorMessage">Email e/o password errata</h5>
                }
            </div>
        </div>
    </div>
</div>

@if (RegForm)
{
    <form class="form" @onsubmit="HandleRegistration">
        <p class="title">Registrazione</p>
        <p class="message">Registrati subito per avere accesso a DeltaDent Web</p>
        <div class="flex">
            <label>
                <input @bind="NomeReg" placeholder=" " type="text" class="input" maxlength="25">
                <span>Nome</span>
            </label>
            <label>
                <input @bind="CognomeReg" placeholder=" " type="text" class="input" maxlength="25">
                <span>Cognome</span>
            </label>
        </div>
        <label>
            <input @bind="EmailReg" placeholder=" " type="email" class="input" maxlength="100">
            <span>Email</span>
        </label>
        <label>
            <input @bind="PasswReg" placeholder=" " type="password" class="input" maxlength="100">
            <span>Password</span>
        </label>
        <label>
            <input @bind="ConfermaPasswordReg" placeholder=" " type="password" class="input" maxlength="100">
            <span>Conferma password</span>
        </label>
        @if (errReg)
        {
            <div class="message">Si è verificato un errore, verificare i dati immessi</div>
        }
        <button class="submit" type="submit">Submit</button>
    </form>
}

@code {

    private DbManager db = new DbManager();     // Oggetto utilizzato globalmente nella pagina per interrogare il DB
    private bool RegForm = false;       // Bool per mostrare il form di registrazione
    private bool errReg = false;        // Bool per mostrare un errore nel form di registrazione
    private bool errLogin = false;      // Bool per mostrare un errore nel login
    private string NomeReg { get; set; }        // Stringa per salvare il nome del medico registrante
    private string CognomeReg { get; set; }     // Stringa per salvare il cognome del medico registrante
    private string EmailReg { get; set; }       // Stringa per salvare la mail del medico registrante
    private string PasswReg { get; set; }        // Stringa per salvare la password del medico registrante
    private string ConfermaPasswordReg { get; set; }        // Stringa per verificare il corretto inserimento dellap pssword
    private string emailLog { get; set; }       // Stringa per salvare l'email del medico loggante
    private string passwLog { get; set; }       // Stringa per salvare la password del medico loggante

    private void ToggleRegistration() => RegForm = !RegForm;
    
    // Funzione per resettare i campi del form di registrazione
    private void resetTextLogin()
    {
        NomeReg = string.Empty;
        CognomeReg = string.Empty;
        EmailReg = string.Empty;
        PasswReg = string.Empty;
        ConfermaPasswordReg = string.Empty;
    }

    // Funzione per gestire la registrazione di un nuovo medico
    private async Task HandleRegistration()
    {
        try
        {
            // Verifica dei dati immessi
            if (PasswReg != ConfermaPasswordReg || await checkExist(EmailReg) || !verifyDoctor())
            {
                // Mostro l'errore
                errReg = true;
                return;
            }
            // Lo tolgo
            errReg = false;

            var query = $"INSERT INTO doctor (first_name, surname, email, password) VALUES ('{NomeReg}', '{CognomeReg}', '{EmailReg}', '{PasswReg}')";
            await db.OpenConnectionAsync();
            await db.MakeQueryAsync(query);
            await db.CloseConnectionAsync();

            resetTextLogin();

            //Console.WriteLine("Dati inseriti correttamente.");
            ToggleRegistration();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Errore durante la registrazione dei dati: " + ex.Message);
            errReg = true;  // Mostro l'errore
        }
    }

    // Funzione per prevenire sql injection: verifica che gli input non contengano "'" e non siano vuoti, torna true se sono validi
    public bool verifyDoctor()
    {
        return !NomeReg.Contains("'") && NomeReg.Length > 0 && !CognomeReg.Contains("'") && CognomeReg.Length > 0 && !EmailReg.Contains("'") 
               && EmailReg.Length > 0 && !PasswReg.Contains("'") && PasswReg.Length > 0;
    }

    // Funzione per verificare se un dottore è già presente nel DB in base all'email
    private async Task<bool> checkExist(string email)
    {
        string query = $"SELECT email FROM doctor WHERE email='{email}'";
        await db.OpenConnectionAsync();
        using (MySqlDataReader reader = db.ExecuteReader(query))
        {
            if (reader.Read())
            {   // Se c'è da leggere allora è presente
                await db.CloseConnectionAsync();
                return true;
            }
        }

        await db.CloseConnectionAsync();
        return false;
    }

    // Funzione che verifica se email e password corrispondono a quelle registrate nel DB, e permette o meno l'ingresso nel resto del sito
    private async Task tryLogin()
    {
        if (!(await checkExist(emailLog)) || !(await checkPassw(passwLog)))
        {
            errLogin = true;
            return;
        }

        string query = $"SELECT doctorID FROM doctor WHERE email='{emailLog}'";
        await db.OpenConnectionAsync();
        using (MySqlDataReader reader = await db.ExecuteReaderAsync(query))
        {
            if (!reader.Read())
            {   // Se c'è da leggere allora non è presente
                await db.CloseConnectionAsync();
                return;
            }

            int medID = reader.GetInt32("doctorID");
            await db.CloseConnectionAsync();
            errLogin = false;
            NavManager.NavigateTo($"/Anagrafica/{medID}");
        }
    }

    //Funzione che controlla se la password di un medico è uguale a quella passatagli
    private async Task<bool> checkPassw(string passw)
    {
        string query = $"SELECT password FROM doctor WHERE password='{passw}'";
        await db.OpenConnectionAsync();
        using (MySqlDataReader reader = await db.ExecuteReaderAsync(query))
        {
            if (reader.Read())
            {   // Se c'è da leggere allora è presente
                await db.CloseConnectionAsync();
                return true;
            }
        }

        await db.CloseConnectionAsync();
        return false;
    }

}