@page "/"

<PageTitle>Login</PageTitle>

<body class="flex-column">
<div class="login-page mainSection">
    <div class="headerRow">
        <div class="brandingGroup">
            <img class="coverImage" src="./assets/loginAssets/sfondoBlu.png" alt="alt text" />
            <div class="titleContent">
                <div class="titlesGrid">
                    <h1 class="mainTitle">DeltaDent Web</h1>
                    <h3 class="mainSubtitle">La tua scelta per un futuro web</h3>
                </div>
                <button class="registerButton">Registrati</button>
            </div>
            <img class="headerIcon" src="./assets/loginAssets/dottore.svg" alt="alt text" />
        </div>
        <div class="loginGroup">
            <div class="backgroundRectangle"></div>
            <div class="loginContent">
                <div class="welcomeHeader">
                    <h1 class="heroTitle">Ciao!</h1>
                    <h3 class="welcomeSubtitle">Benvenuto</h3>
                </div>
                <div class="emailBox">
                    <input type="email" class="BoxRow imageEmail" placeholder="Email Address" />
                </div>
                <div class="passwordBox">
                    <input type="password" class="BoxRow imagePassword" placeholder="Password" />
                </div>
                <button class="loginButton">login</button>
                <h5 class="forgotPassword">Password dimenticata</h5>
                <h5 class="errorMessage invisible">Email e/o password errata</h5>
            </div>
        </div>
    </div>
</div>
</body>

@code {
    
}