/*@import url("https://fonts.googleapis.com/css2?family=Mplus+1p:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");*/

/* Stile per la pagina principale della sezione login */
.login-page.mainSection {
    position: relative;
    display: flex; /* Disposizione degli elementi in colonna */
    flex-direction: column;
    background-color: #d4d4d4;
    overflow: hidden; /* Nasconde contenuti che eccedono i limiti del contenitore */
}

/* Stile per la riga dell'intestazione */
.login-page .headerRow {
    position: relative;
    display: flex;
    gap: 0rem 0.0625rem; /* Spazio tra gli elementi */
    margin: 2.375rem auto 2.125rem; /* Margini superiori e inferiori, centrato orizzontalmente */
    width: 90%;
}

/* Stile per il gruppo di branding */
.login-page .brandingGroup {
    position: relative;
    display: flex;
    flex-direction: column; /* Disposizione degli elementi in colonna */
    width: 54.8125rem; /* Larghezza fissa */
    min-width: 0rem; /* Larghezza minima impostata a 0 */
}

/* Stile per l'immagine di copertina */
.login-page .coverImage {
    position: relative;
    height: 100%;
    width: 100%; /* Larghezza massima */
    min-width: 0rem; /* Larghezza minima impostata a 0 */
    border-radius: 1.875rem 0rem 0rem 1.875rem; /* Angoli arrotondati */
}

/* Stile per il contenuto del titolo */
.login-page .titleContent {
    position: absolute;
    top: 27.125rem; /* Distanza dall'alto */
    left: 9.1875rem; /* Distanza da sinistra */
    display: flex;
    flex-direction: column; /* Disposizione degli elementi in colonna */
    gap: 1.4375rem 0rem; /* Spazio tra gli elementi */
    width: 20.6875rem; /* Larghezza fissa */
    height: 9.625rem; /* Altezza fissa */
}

/* Stile per la griglia dei titoli */
.login-page .titlesGrid {
    position: relative;
    display: grid;
    align-content: start; /* Allineamento degli elementi all'inizio */
    row-gap: 0.0625rem; /* Spazio tra le righe */
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* Una colonna fissa */
}

/* Stile per il titolo principale */
.login-page .mainTitle {
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    font: 800 2.5rem/1.47 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: white; /* Colore del testo */
}

/* Stile per il sottotitolo principale */
.login-page .mainSubtitle {
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    font: 500 1.25rem/1.5 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: white; /* Colore del testo */
    letter-spacing: 0.04375rem; /* Spaziatura tra lettere */
}

/* Stile per il pulsante di registrazione */
.login-page .registerButton {
    position: relative;
    display: flex;
    justify-content: center; /* Centrato orizzontalmente */
    width: 10rem; /* Larghezza fissa */
    max-width: 100%; /* Larghezza massima al 100% */
    font: 400 1.125rem/1.5 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: #424242; /* Colore del testo */
    text-align: center; /* Testo centrato */
    background-color: white; /* Colore di sfondo */
    border-radius: 1.3125rem; /* Angoli arrotondati */
    padding: 0.46875rem 2.25rem; /* Spaziatura interna */
}

.registerButton:hover{
    background-color: #B1D3E7;
}

/* Stile per l'icona dell'intestazione */
.login-page .headerIcon {
    position: absolute;
    right: 1.1875rem; /* Distanza da destra */
    bottom: 0rem; /* Distanza dal basso */
    width: 18.6875rem; /* Larghezza fissa */
    height: 29.625rem; /* Altezza fissa */
}

/* Stile per il gruppo di login */
.login-page .loginGroup {
    position: relative;
    display: flex;
    flex-direction: column; /* Disposizione degli elementi in colonna */
    width: 38.875rem; /* Larghezza fissa */
    min-width: 0rem; /* Larghezza minima impostata a 0 */
}

/* Stile per il rettangolo di sfondo */
.login-page .backgroundRectangle {
    position: relative;
    min-width: 0rem; /* Larghezza minima impostata a 0 */
    min-height: 63rem; /* Altezza minima fissa */
    background-color: white; /* Colore di sfondo */
    border-radius: 0rem 1.875rem 1.875rem 0rem; /* Angoli arrotondati */
}

/* Stile per il contenuto di login */
.login-page .loginContent {
    position: absolute;
    top: 22.9375rem; /* Distanza dall'alto */
    left: 12.0625rem; /* Distanza da sinistra */
    display: flex;
    flex-direction: column; /* Disposizione degli elementi in colonna */
    align-items: center; /* Elementi centrati */
    width: 14.8125rem; /* Larghezza fissa */
    height: 20.625rem; /* Altezza fissa */
}

/* Stile per l'intestazione di benvenuto */
.login-page .welcomeHeader {
    position: relative;
    display: flex;
    flex-direction: column; /* Disposizione degli elementi in colonna */
    gap: 0.0625rem 0rem; /* Spazio tra gli elementi */
    width: 45.99%; /* Larghezza relativa */
}

/* Stile per il titolo principale */
.login-page .heroTitle {
    position: relative;
    display: flex;
    justify-content: center; /* Centrato orizzontalmente */
    font: 800 2.5rem/1.47 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: #2d2d2d; /* Colore del testo */
    text-align: center; /* Testo centrato */
}

/* Stile per il sottotitolo di benvenuto */
.login-page .welcomeSubtitle {
    position: relative;
    display: flex;
    justify-content: center; /* Centrato orizzontalmente */
    font: 500 1.25rem/1.5 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: #2d2d2d; /* Colore del testo */
    text-align: center; /* Testo centrato */
    letter-spacing: 0.05rem; /* Spaziatura tra lettere */
}

/* Stile per la casella dell'email */
.login-page .emailBox {
    position: relative;
    display: flex;
    flex-direction: column; /* Disposizione degli elementi in colonna */
    margin: 1.375rem 0rem 0rem; /* Margine superiore */
    width: 99.58%; /* Larghezza relativa */
    background-color: #ebebeb; /* Colore di sfondo */
    border-radius: 1.4375rem; /* Angoli arrotondati */
}

/* Stile per la riga dell'email */
.login-page .BoxRow {
    position: relative;
    display: flex;
    gap: 0rem 0.625rem; /* Spazio tra gli elementi */
    margin: 0.6875rem 0.8125rem; /* Margine interno */
    border: none;
    padding-left: 1.8rem;
    min-width: 0rem; /* Larghezza minima impostata a 0 */
    font: 500 1rem/1.5 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: #b3b3b3; /* Colore del testo */
    background-color: #ebebeb; /* Colore di sfondo */
    letter-spacing: 0.04rem; /* Spaziatura tra lettere */
    
    outline: none;
}

.imageEmail{
    background: url("./assets/loginAssets/emailIcon.svg") no-repeat left center;
}

.imagePassword{
    background: url("./assets/loginAssets/passwordIcon.svg") no-repeat left center;
}

.login-page .BoxRow::placeholder {
    color: #b3b3b3;
    font: 500 1rem/1.5 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    letter-spacing: 0.04rem; /* Spaziatura tra lettere */
}

/* Stile per la casella della password */
.login-page .passwordBox {
    position: relative;
    display: flex;
    flex-direction: column; /* Disposizione degli elementi in colonna */
    margin: 0.75rem 0rem 0rem; /* Margine superiore */
    width: 99.58%; /* Larghezza relativa */
    background-color: #ebebeb; /* Colore di sfondo */
    border-radius: 1.4375rem; /* Angoli arrotondati */
}

/* Stile per il pulsante di login */
.login-page .loginButton {
    position: relative;
    display: flex;
    justify-content: center; /* Centrato orizzontalmente */
    margin: 0.75rem 0rem 0rem 0.0625rem; /* Margine superiore */
    width: 14.75rem; /* Larghezza fissa */
    max-width: 100%; /* Larghezza massima al 100% */
    font: 500 1.25rem/1.5 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: white; /* Colore del testo */
    text-align: center; /* Testo centrato */
    background-color: #1c96e0; /* Colore di sfondo */
    border-radius: 1.4375rem; /* Angoli arrotondati */
    padding: 0.5rem; /* Spaziatura interna */
    letter-spacing: 0.05rem; /* Spaziatura tra lettere */
}

.loginButton:hover{
    background-color: #56B0E7;
}

/* Stile per il link della password dimenticata */
.login-page .forgotPassword {
    /*position: relative;
    display: flex;*/
    justify-content: center; /* Centrato orizzontalmente */
    margin: 0.625rem 0rem 0rem; /* Margine superiore */
    font: 500 0.9375rem/1.46 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: #424242; /* Colore del testo */
    text-align: center; /* Testo centrato */
}

/* Stile per il messaggio di errore */
.login-page .errorMessage {
    position: relative;
    display: flex;
    justify-content: center; /* Centrato orizzontalmente */
    margin: 0.1875rem 0rem 0rem; /* Margine superiore */
    font: 500 0.9375rem/1.46 "Mplus 1p", Helvetica, Arial, serif; /* Stile del font */
    color: red; /* Colore del testo */
    text-align: center; /* Testo centrato */
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0; 
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    align-items: normal;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.visible{
    display: block;
}
.invisible{
    display: none;
}