@page "/"
@page "/Login"

<PageTitle>Login</PageTitle>
@rendermode InteractiveServer
<div class="login-page mainSection">
    <div class="headerRow">
        <div class="brandingGroup">
            <img class="coverImage" src="./assets/loginAssets/sfondoBlu.png" alt="alt text" />
            <div class="titleContent">
                <div class="titlesGrid">
                    <h1 class="mainTitle">DeltaDent Web</h1>
                    <h3 class="mainSubtitle">La tua scelta per un futuro web</h3>
                </div>
                <button class="registerButton"  @onclick="@ButtonRegistration">Registrati</button>
            </div>
            <img class="headerIcon" src="./assets/loginAssets/dottore.svg" alt="alt text" />
        </div>
        <div class="loginGroup">
            <div class="backgroundRectangle"></div>
            <div class="loginContent">
                <div class="welcomeHeader">
                    <h1 class="heroTitle">Ciao!</h1>
                    <h3 class="welcomeSubtitle">Benvenuto</h3>
                </div>
                <div class="emailBox">
                    <input type="email" class="BoxRow imageEmail" placeholder="Email Address" />
                </div>
                <div class="passwordBox">
                    <input type="password" class="BoxRow imagePassword" placeholder="Password" />
                </div>
                <button class="loginButton">login</button>
                <h5 class="forgotPassword">Password dimenticata</h5>
                <h5 class="errorMessage invisible">Email e/o password errata</h5>
            </div>
        </div>
    </div>
</div>

@if (_flagBol)
{
    <form class="form">
        <p class="title">Registrati </p>
        <p class="message">Registrati subito per avere accesso all'app. </p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nome</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Cognome</span>
            </label>
        </div>

        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Email</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Password</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Conferma password</span>
        </label>
        <button class="submit">Submit</button>
    </form>
}

@code {
    Boolean _flagBol;
    
    private void ButtonRegistration()
    {
        _flagBol = !_flagBol;
    }
}