@page "/loginR"
@using System.ComponentModel
@using MySqlConnector;
<PageTitle>Anagrafica</PageTitle>
@rendermode InteractiveServer

<!--sfondo-->
<div class="bg">
    <!--stile per la forma del form-->
    <div class="loginForm">
        <!--sezione del register-->
        <div class="col-7">
            <!--effettivo form register-->
            <div class="col-8 align-content-center">
                <div class="card">
                    <div class="row registerTitle">
                        <h3>DeltaDent Web</h3>
                    </div>
                    <div class="row">
                        <p>La tua scelta per un futuro web</p>
                    </div>
                    <div class="row">
                        <button>
                            registrati
                        </button>
                    </div>
                </div>
            </div>
            <!--immagine dottore-->
            <div class="col-4">
            </div>
        </div>
        <!--sezione del login-->
        <div class="col-5">

        </div>
    </div>
</div>


@code{

    

}