@page "/loginRemake"

@using MySql.Data.MySqlClient
@inject IConfiguration Configuration
@rendermode InteractiveServer
<div class="sfondo" xmlns="http://www.w3.org/1999/html">
    <div class="accessForm">
        <div class="registering">
            <div class="sx">
                <div>
                    <h2><b>DeltaDent Web</b></h2>
                    <p>La tua scelta per un futuro web</p><br/>
                    <button class="registerButton">Registrati</button>
                    
                </div>

            </div>
            <div class="dx">
                
            </div>
        </div>
    </div>
</div>




@code {
    
}