@page "/"

<PageTitle>Login</PageTitle>

<body class="flex-column">
<div class="login-page mainSection">
    <div class="headerRow">
        <div class="brandingGroup">
            <img class="coverImage" src="./assets/sfondoBlu.png" alt="alt text" />
            <div class="titleContent">
                <div class="titlesGrid">
                    <h1 class="mainTitle">DeltaDent Web</h1>
                    <h3 class="mainSubtitle">La tua scelta per un futuro web</h3>
                </div>
                <button class="registerButton">Registrati</button>
            </div>
            <img class="headerIcon" src="./assets/dottore.svg" alt="alt text" />
        </div>
        <div class="loginGroup">
            <div class="backgroundRectangle"></div>
            <div class="loginContent">
                <div class="welcomeHeader">
                    <h1 class="heroTitle">Ciao!</h1>
                    <h3 class="welcomeSubtitle">Benvenuto</h3>
                </div>
                <div class="emailBox">
                    <div class="emailRow">
                        <img class="emailIcon" src="./assets/emailIcon.svg" alt="alt text" />
                        <h5 class="emailLabel">Email Address</h5>
                    </div>
                </div>
                <div class="passwordBox">
                    <div class="passwordRow">
                        <img class="passwordIcon" src="./assets/passwordIcon.svg" alt="alt text" />
                        <h5 class="passwordLabel">Password</h5>
                    </div>
                </div>
                <button class="loginButton">login</button>
                <h5 class="forgotPassword">Password dimenticata</h5>
                <h5 class="errorMessage">Email e/o password errata</h5>
            </div>
        </div>
    </div>
</div>
</body>

@code {
    
}