@page "/loginR"
@using System.ComponentModel
@using MySqlConnector;
<PageTitle>Anagrafica</PageTitle>
@rendermode InteractiveServer

<!--sfondo-->
<div class="bg align-items-center">
    <!--stile per la forma del form-->
    <div class="loginForm align-content-center">
        <!--sezione del register-->
        <div class="col-sm-7 fadeBlu">
            <div class="col-12 align-content-center padd doctorImg">
                <div class="card">
                    <div>
                        <h3 class="registerTitle">DeltaDent Web</h3>
                    </div>
                    <div>
                        <p class="registerParagraph">La tua scelta per un futuro web</p>
                    </div>
                    <div>
                        <button class="registerButton" @onclick="toggleForm">
                            registrati
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--sezione del login-->
        <div class="col-12 col-sm-5  loginSide align-content-center">
            <div class="card text-center align-content-center">
                <div>
                    <h3 class="registerTitle" style="color: #2D2D2D">
                        Ciao!
                    </h3>
                </div>
                <!--sottotitolo-->
                <div>
                    <p class="registerParagraph" style="color: #2D2D2D">benvenuto</p>
                </div>
                <!--form mail-->
                <div>
                    <input class="inputLogin mail" type="text" placeholder="mail"/>
                </div>
                <!--form password-->
                <div>
                    <input class="inputLogin password" type="password" placeholder="password"/>
                </div>
                <!--pulsante login-->
                <div>
                    <button class="loginbtn">Login</button>
                </div>
                <!--pulsante registrati -->
                <div class="registerMob pt-1">
                    <p class="registerParagraph" style="color: #2D2D2D">oppure</p>
                    <button class="registerButtonMob" @onclick="toggleForm">
                        registrati
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    @if (visible)
    {
        <div class="oscuramento">
            <div class="registerForm text-center">
                <div class="row">
                    <div class="col">
                        <h2 class="registerTitle resize" style="color: #1a1e21">Registrazione</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="LoginParagraph">nome</p>
                        <input class="inputRegister" type="text" placeholder="mario"/>
                    </div>
                    <div class="col">
                        <p class="LoginParagraph">cognome</p>
                        <input class="inputRegister" type="text" placeholder="rossi"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <p class="LoginParagraph">Sesso</p>
                    </div>
                    <div class="col">
                        <p class="LoginParagraph">telefono</p>
                        <input class="inputRegister" type="tel" placeholder="3131228124"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="LoginParagraph">email</p>
                        <input class="inputRegister" type="text" placeholder="mario.rossi@myEmail.com"/>
                    </div>
                    <div class="col">
                        <p class="LoginParagraph">password</p>
                        <input class="inputRegister" type="password" placeholder="password"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="LoginParagraph">indirizzo</p>
                        <input class="inputRegister" type="text" placeholder="via cavour"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="errorMessage mt-1">
                            errore di prova
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="formbtn annulla"  @onclick="toggleForm">
                            annulla
                        </button>
                    </div>
                    <div class="col">
                        <button class="formbtn conferma"  @onclick="toggleForm">
                            conferma
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code{
    private bool visible;
    private void toggleForm() => visible = !visible;

}