@page "/pazienteTemp"
@rendermode InteractiveServer
@inject IJSRuntime JS
<!-- Colonna sinistra -->
<div>

</div>
<!-- Barra in alto -->
<div class="buttonContainer">
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton" @onclick="@ToggleForm">Carica foto</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
</div>
<!-- Corpo centrale -->
<div>
    @if (_visibile)
    {
        <div class="oscuramento">
            <!-- Form carica foto -->
            <div class="formAggiunta">
                <!-- Prima linea -->
                <div class="infoForm">
                    <div class="inline elemento">DATA<input class="inputFormData" type="date"/></div>
                    <div class="inline elemento">
                        TIPO SERIE
                        <select type="select" class="inputFormSelezione" placeholder=" ">
                            <option value="p">Prova</option>
                        </select>
                    </div>
                    <div class="inline elemento">NOTE<input class="inputForm" type="text"/></div>
                </div>
                <!-- Seconda linea -->
                <div class="inline seconda">
                    <button class="fileButton" @onclick="OpenFilePicker"> </button>
                    <InputFile style="display: none" @ref="inputFile" OnChange="ShowPreview" multiple="true"/>
                    <script>
                    let clickedImg=null
                    window.previewImage = (inputElem, idContainer) => {
                        // Ottiene il contenitore delle anteprime
                        const container = document.getElementById(idContainer);
                        // Cancella tutte le anteprime esistenti
                        container.innerHTML = '';
                        
                        // Itera su tutti i file selezionati
                        for (let i = 0; i < inputElem.files.length; i++) {
                            // Crea un URL temporaneo per il file e crea l'immagine
                            const url = URL.createObjectURL(inputElem.files[i]);
                            const img = document.createElement('img');
                            
                            // Imposta l'URL come sorgente dell'immagine e le dimensioni
                            img.src = url;
                            img.style.width = '150px';
                            img.style.height = '150px';
                            img.setAttribute("id","img"+i)
                            img.setAttribute("onclick","imageClick('img"+i+"')")

                            // Crea un nuovo div e aggiunge l'immagine al div
                            const div = document.createElement('div');
                            div.appendChild(img);
                            
                            // Rimuove l'URL temporaneo dopo che l'immagine è stata caricata e aggiunge l'immagine al contenitore
                            img.addEventListener('load', () => URL.revokeObjectURL(url), { once: true });
                            container.appendChild(div);
                        }
                    }
                    function imageClick(imgId){
                        //console.log(imgId)
                        clickedImg=document.getElementById(imgId)
                    }
                    function divClick(divId){
                    //console.log("nci3iqvbi")
                        if (clickedImg!=null&&divId!=null){
                            document.getElementById(divId).innerHTML=''
                            document.getElementById(divId).appendChild(clickedImg) //sesso anale con le ba
                            clickedImg=null
                            divId=null
                        }
                    }
                </script>

                    <div class="inline radioContainer">
                        RISOLUZIONE
                        <label for="1280">1280 X 800</label>
                        <input type="radio" id="1280" name="risoluzione" value="1280">
                        <label for="1024">1024 X 768</label>
                        <input type="radio" id="1024" name="risoluzione" value="1024">
                        <label for="800">800 X 600</label>
                        <input type="radio" id="800" name="risoluzione" value="800">
                    </div>
                    <div class="inline radioContainer">
                        RIDIMENSIONA
                        <label for="si">SÌ</label>
                        <input type="radio" id="si" name="ridimensiona" value="si">
                        <label for="no">NO</label>
                        <input type="radio" id="no" name="ridimensiona" value="no">
                    </div>
                </div>
                <!-- Linea centrale -->
                <div class="seconda">
                    <!-- Barra a sinistra(anteprima delle immagini caricate) -->
                    <div class="inline previews" id="divAnteprima">
                        <img @ref="previewImageElem" src="" alt=""/>
                    </div>
                    <!-- Quadrante di scelta a destra -->
                    <div class="inline assegnazioni" id="zonaAssegnazione">
                        <!-- Elenco dei quadratini -->
                        <div class="inline">
                            <div class="imgUpload" id="occl_sup" onclick="divClick('occl_sup')">
                                <img src="" alt="Occl. Superiore"/><br/>
                            </div>
                            <p>Occl. Superiore</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="occl_dx" onclick="divClick('occl_dx')">
                                <img src="" alt="Occl. DX"/><br/>
                            </div>
                            <p>Occl. DX</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="occl_front" onclick="divClick('occl_front')">
                                <img src="" alt="Occl. Frontale"/><br/>
                            </div>
                            <p>Occl. Frontale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="occl_sx" onclick="divClick('occl_sx')">
                                <img src="" alt="Occl. SX"/><br/>
                            </div>
                            <p>Occl. SX</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="occl_inf" onclick="divClick('occl_inf')">
                                <img src="" alt="Occl. Inferiore"/><br/>
                            </div>
                            <p>Occl. Inferiore</p>
                        </div><br/>
                        <div class="inline imgUpload">
                            <div id="laterale" onclick="divClick('laterale')">
                                <img src="" alt="Laterale"/><br/>
                            </div>
                            <p>Laterale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="frontale" onclick="divClick('frontale')">
                                <img src="" alt="Frontale"/><br/>
                            </div>
                            <p>Frontale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="front_sorriso" onclick="divClick('front_sorriso')">
                                <img src="" alt="Frontale Sorriso"/><br/>
                            </div>
                            <p>Frontale Sorriso</p>
                        </div><br/>
                        <div class="inline imgUpload">
                            <div id="rx_panoramica" onclick="divClick('rx_panoramica')">
                                <img src="" alt="RX Panoramica"/><br/>
                            </div>
                            <p>RX Panoramica</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="rx_laterale" onclick="divClick('rx_laterale')">
                                <img src="" alt="RX Laterale"/><br/>
                            </div>
                            <p>RX Laterale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div id="rx_frontale" onclick="divClick('rx_frontale')">
                                <img src="" alt="RX Frontale PA"/><br/>
                            </div>
                            <p>RX Frontale PA</p>
                        </div>
                    </div>
                </div>
                <!-- Linea tasti invia e annulla -->
                <div>
                    <button>Invia</button>
                    <button @onclick="ToggleForm">Annulla</button>
                </div>
            </div>
        </div>
    }
    <!-- Prima riga -->
    <div></div>
    <!-- Seconda riga -->
    <div></div>
    <!-- Terza riga -->
    <div></div>
</div>

@code {
    private bool _visibile = false;
    
    [Inject] private IJSRuntime JSRuntime { get; set; }
    private InputFile? inputFile;
    
    private void ToggleForm()
    {
        _visibile = !_visibile;
    }
    
    private async Task OpenFilePicker()
        => await JSRuntime.InvokeVoidAsync("HTMLElement.prototype.click.call",
            inputFile.Element);
    
    private ElementReference previewImageElem;

    private async Task ShowPreview() => await JS.InvokeVoidAsync(
        "previewImage", inputFile!.Element, "divAnteprima");

}

