@page "/pazienteTemp"
@rendermode InteractiveServer
@inject IJSRuntime JS
<!-- Colonna sinistra -->
<div>

</div>
<!-- Barra in alto -->
<div>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button @onclick="@toggleForm">Carica foto</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
    <button>...</button>
</div>
<!-- Corpo centrale -->
<div>
    @if (visibile)
    {
        <!-- Form carica foto -->
        <div>
            <!-- Prima linea -->
            <div>
                <div class="inline">DATA<input type="date"/></div>
                <div class="inline">
                    TIPO SERIE
                    <select type="select" placeholder=" ">
                        <option value="p">Prova</option>
                    </select>
                </div>
                <div class="inline">NOTE<input type="text"/></div>
            </div>
            <!-- Seconda linea -->
            <div class="inline">
                <InputFile @ref="inputFile" OnChange="ShowPreview" multiple="true"/>
                <script>
                    window.previewImage = (inputElem, imgElem) => {
                        for (let i=0;i<inputElem.files.length;i++){
                            //console.log(inputElem.files[i])
                            const url = URL.createObjectURL(inputElem.files[i]);
                            imgElem.addEventListener('load', () => URL.revokeObjectURL(url), { once: true });
                            imgElem.src = url;
                        }
                    }
                </script>
                <div class="inline">
                    RISOLUZIONE
                    <label for="1280">1280 X 800</label>
                    <input type="radio" id="1280" name="risoluzione" value="1280">
                    <label for="1024">1024 X 768</label>
                    <input type="radio" id="1024" name="risoluzione" value="1024">
                    <label for="800">800 X 600</label>
                    <input type="radio" id="800" name="risoluzione" value="800">
                </div>
                <div class="inline">
                    RIDIMENSIONA
                    <label for="si">SÌ</label>
                    <input type="radio" id="si" name="ridimensiona" value="si">
                    <label for="no">NO</label>
                    <input type="radio" id="no" name="ridimensiona" value="no">
                </div>
            </div>
            <!-- Linea centrale -->
            <div>
                <!-- Barra a sinistra(anteprima delle immagini caricate) -->
                <div class="inline" id="anteprima">
                    <img style="max-width:200px;max-height:200px" @ref="previewImageElem"/>
                </div>
                <!-- Quadrante di scelta a destra -->
                <div class="inline" id="zonaAssegnazione">
                    <!-- Elenco dei quadratini -->
                    <div class="inline">
                        <img src="" alt="Occl. Superiore"/><br/>
                        <p>Occl. Superiore</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="Occl. DX"/><br/>
                        <p>Occl. DX</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="Occl. Frontale"/><br/>
                        <p>Occl. Frontale</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="Occl. SX"/><br/>
                        <p>Occl. SX</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="Occl. Inferiore"/><br/>
                        <p>Occl. Inferiore</p>
                    </div><br/>
                    <div class="inline">
                        <img src="" alt="Laterale"/><br/>
                        <p>Laterale</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="Frontale"/><br/>
                        <p>Frontale</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="Frontale Sorriso"/><br/>
                        <p>Frontale Sorriso</p>
                    </div><br/>
                    <div class="inline">
                        <br/>
                        <img src="" alt="RX Panoramica"/><br/>
                        <p>RX Panoramica</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="RX Laterale"/><br/>
                        <p>RX Laterale</p>
                    </div>
                    <div class="inline">
                        <img src="" alt="RX Frontale PA"/><br/>
                        <p>RX Frontale PA</p>
                    </div>
                </div>
            </div>
            <!-- Linea tasti invia e annulla -->
            <div>
                <button>Invia</button>
                <button @onclick="toggleForm">Annulla</button>
            </div>
        </div>
    }
    <!-- Prima riga -->
    <div></div>
    <!-- Seconda riga -->
    <div></div>
    <!-- Terza riga -->
    <div></div>
</div>

@code {

    private bool visibile = false;

    public void toggleForm()
    {
        visibile = !visibile;
    }

    private InputFile? inputFile;
    private ElementReference previewImageElem;

    private async Task ShowPreview() => await JS.InvokeVoidAsync(
        "previewImage", inputFile!.Element, previewImageElem);

}