.inline{
    display: inline-block;
}

.buttonContainer{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 80vw;
    height: 4rem;
    margin-bottom: 1rem;
}

.defButton{
    height: 3rem;
    width: 3.2rem;
    background-color: #7FAFE1;
    border-radius: 5px;
    border:none;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.elemento{
    margin-right:0.3rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.radioContainer{
    margin-left: 0.5rem;
    display: block ruby;
    border: #3D7BD9 solid 0.3rem;
    border-radius: 10px;
    height: 2.5rem;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding-bottom: 2.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.infoForm{
    display:flex;
    margin-left: 0.5%;
    margin-bottom: 0.5rem;
    background-color: #B4D1F0;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
}
.fileBar{
    margin-left: 5px;
    padding: 1rem;
    width: 95%;
    font-weight: bold;
}

.inputFormData{
    margin-left: 5px;
    flex-grow: 1;
    padding-right: -0.1rem;
    width: auto;
    border:none;
    border-radius: 2.5px;
    background-color: white;
}


.inputFormSelezione{
    margin-left: 5px;
    flex-grow: 1;
    width: auto;
    border:none;
    border-radius: 2.5px;
    background-color: white;
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
}

.inputForm{
    margin-left: 5px;
    width: inherit;
    flex-grow: 1;
    border:none;
    border-radius: 2.5px;
}

.formAggiunta{
    margin-left: 10%;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}

.oscuramento {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.17);
    width: 110%;
    height: 100%;
    top: 0;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconda{
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
    margin-left:0.5%;
    height:auto;
}
.fileButton{
    padding:1.5rem;
    border:none;
    border-radius: 10px;
    background: url("./assets/folder.svg") no-repeat center;
    background-color: #0a53be;
    height: 2.5rem;
    width: 2.5rem;
}

/*per safari & google*/
.buttonContainer::-webkit-scrollbar {
    height: 5px;
    background-color: #3D7BD9;
    border-radius: 10rem;
}

/*per firefox*/
.buttonContainer {
    scrollbar-width: thin;
    scrollbar-color: #3D7BD9 #fff;
}