@page "/SchedaPaziente"
@using Microsoft.AspNetCore.Mvc
@using System.Net.Http;
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@inject IJSRuntime JS
@inject IWebHostEnvironment env

<!--barra dei pulsanti-->
<div class="row buttonContainer">
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton" @onclick="@ToggleForm">carica</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
</div>

<!--corpo centrale della pagina-->
<div class="row body">

<!--informazioni paziente-->
<div class="col-12 d-block col-md-5 col-lg-3 d-flex pt-0 flex-column align-items-center">
    <div class="patientInfo justify-content-center pt-3">

        <!--immagine paziente-->
        <div class="row d-flex justify-content-center">
            <div class="patientImg" style="background: url(@_ImgPatient) no-repeat center; background-size: cover">

            </div>
        </div>

        <!--nome e cognome paziente-->
        <div class="content-paziente mt-4">
            <p class="m-0 text-uppercase">@nomePaziente @cognomePaziente</p>
        </div>

        <!--info cartella-->
        <p class="titoloSezione mt-4">info cartella</p>
        <div class="content-paziente mt-1 row">

            <!--sezione descrizione valore-->
            <div class="col-6">
                <div class="row">
                    N
                </div>
                <div class="row">
                    età paziente
                </div>
            </div>
            <div class="col-6 text-end">
                <div class="row justify-content-end">
                    @numCartella
                </div>
                <div class="row justify-content-end">
                    @etaPaziente
                </div>
            </div>
        </div>

        <!--info oas-->
        <p class="titoloSezione mt-4">info oas</p>
        <div class="content-paziente mt-1 row">

            <!--sezione descrizione valore-->
            <div class="col-6">
                <div class="row">
                    rischio
                </div>
                <div class="row">
                    esame
                </div>
                <div class="row">
                    visita
                </div>
                <div class="row">
                    mad
                </div>
                <div class="row">
                    trattamento
                </div>
            </div>
            <div class="col-6">
                <div class="row justify-content-end">
                    @rischioPaziente
                </div>
                <div class="row justify-content-end">
                    @esamePaziente
                </div>
                <div class="row justify-content-end">
                    @visitaPaziente
                </div>
                <div class="row justify-content-end">
                    @mad
                </div>
                <div class="row justify-content-end">
                    @trattamento
                </div>
            </div>
        </div>

        <!--info cliniche-->
        <p class="titoloSezione mt-4">info cliniche</p>
        <div class="content-paziente mt-1 row">

            <!--sezione descrizione valore-->
            <div class="col-6">
                <div class="row">
                    amnesi
                </div>
                <div class="row">
                    prima visita
                </div>
                <div class="row">
                    parodonto
                </div>
                <div class="row">
                    specialista
                </div>
                <div class="row">
                    prescrizioni
                </div>
                <div class="row">
                    p.trattamento
                </div>
                <div class="row">
                    incontri
                </div>
                <div class="row">
                    referti
                </div>
                <div class="row">
                    presentazioni
                </div>
            </div>
            <div class="col-6">
                <div class="row justify-content-end">
                    @amnesi
                </div>
                <div class="row justify-content-end">
                    @primaVisita
                </div>
                <div class="row justify-content-end">
                    @parodonto
                </div>
                <div class="row justify-content-end">
                    @specialista
                </div>
                <div class="row justify-content-end">
                    @prescrizioni
                </div>
                <div class="row justify-content-end">
                    @pTrattamento
                </div>
                <div class="row justify-content-end">
                    @incontri
                </div>
                <div class="row justify-content-end">
                    @referti
                </div>
                <div class="row justify-content-end">
                    @presentazioni
                </div>
            </div>
        </div>
    </div>
</div>


<!--corpo centrale-->
<div class="d-none d-md-flex flex-column col-md-7 col-xl-8">
<!--prima sezione-->
<div class="row section flex-nowrap overflow-auto">
    <div class="col">
        <p class="testo">piano di cura</p>
    </div>
    <div class="col">
        <select class="inputForm">
            <option value="p">prova</option>
        </select>
    </div>

    <!-- sezione tasti rapidi -->
    <div class="col d-none d-sm-flex flex-nowrap align-items-center">
        <button class="toolButtons me-1 add"></button>
        <button class="toolButtons me-1 edit"></button>
        <button class="toolButtons me-1 lock"></button>
        <button class="toolButtons me-1 notify"></button>
        <button class="toolButtons me-1 bin"></button>
        <button class="toolButtons me-1 save"></button>
        <button class="toolButtons me-1 stamp"></button>
        <button class="toolButtons me-1 pin"></button>
    </div>

    <!-- checkboxes -->
    <div class="col d-flex flex-nowrap align-items-center min-width-15rem">
        <div class="me-1">
            <label class="checkbox-container">
                <input type="checkbox" class="checkBox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="testo">
            Non iniziato
        </div>
    </div>

    <div class="col d-flex flex-nowrap align-items-center">
        <div class="me-1">
            <label class="checkbox-container">
                <input type="checkbox" class="checkBox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="testo">
            Terminato
        </div>
    </div>

    <div class="col d-flex flex-nowrap align-items-center">
        <div class="me-1">
            <label class="checkbox-container">
                <input type="checkbox" class="checkBox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="testo">
            Interrotto
        </div>
    </div>

    <div class="col d-flex flex-nowrap align-items-center">
        <div class="me-1">
            <label class="checkbox-container">
                <input type="checkbox" class="checkBox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="testo">
            Documentato
        </div>
    </div>

</div>
<!--seconda sezione-->
<div class="row section flex-nowrap overflow-auto mt-3">

    <div class="sez">
        <!--diagnosi-->
        <div class="row mt-1">
            <!--parte del testo-->
            <div class="col-4">
                diagnosi
            </div>

            <!--parte dell'inserimento-->
            <div class="col-8">
                <input type="text" class="inputForm removeWidthLimitation">
            </div>
        </div>

        <!--diagnosi-->
        <div class="row mt-1">
            <!--parte del testo-->
            <div class="col-4">

            </div>

            <!--parte dell'inserimento-->
            <div class="col-8">
                <input type="text" class="inputForm removeWidthLimitation">
            </div>
        </div>

        <!--note mediche-->
        <div class="row mt-1">
            <!--parte del testo-->
            <div class="col-4">
                note
            </div>

            <!--parte dell'inserimento-->
            <div class="col-8">
                <input type="text" class="inputForm removeWidthLimitation">
            </div>
        </div>

    </div>

    <div class="d-none d-md-flex sez">
        <div class="esameContainer gap-0" id="esame">

        </div>
    </div>

    <!--scacchiera tasti (meglio non toccare....)-->
    <div class="d-none d-md-flex ms-md-5 sez">
        <div class="scacchiera">
            <div></div>
            <div>INI</div>
            <div>INIT</div>
            <div>FIN</div>
            <div>DIS</div>
            <div>FOTO</div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <div>IMP</div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <div>TELE</div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <div>OPT</div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--ultima sezione (durata $$)-->
    <div class="sez">

    </div>
</div>

<!--terza sezione-->
<div class="row fill-page mt-2 section flex-nowrap overflow-auto">
    <div class="container-fluid visitsBtnContainer d-flex align-items-center gap-3">
        <button class="btnVisita">Aggiungi</button>
        <button class="btnVisita">Stampa</button>
        <button class="btnVisita">xls</button>
    </div>
</div>
</div>
</div>

<!---popUP-->
@if (_isVisible)
{
    <div class="oscuramento">
        <!-- Form carica foto -->
        <div class="formAggiunta">
            <!-- Prima linea -->
            <div class="infoForm">
                <div class="inline elemento">DATA<input class="me-1 inputFormData" type="date"/></div>
                <div class="inline elemento">
                    TIPO SERIE
                    <select type="select" class="me-1 inputFormSelezione" placeholder=" ">
                        <option value="p">Prova</option>
                    </select>
                </div>
                <div class="inline elemento">NOTE<input class="me-1 border-0" type="text"/></div>
            </div>
            <!-- Seconda linea -->
            <div class="inline seconda">
                <button class="fileButton" @onclick="OpenFilePicker"> </button>
                <InputFile style="display: none" @ref="inputFile" OnChange="StoreTempFiles" multiple="true" accept=".png"/>

                <div class="inline radioContainer">
                    RISOLUZIONE
                    <label for="1280">1280 X 800</label>
                    <input type="radio" id="1280" name="risoluzione" value="1280">
                    <label for="1024">1024 X 768</label>
                    <input type="radio" id="1024" name="risoluzione" value="1024">
                    <label for="800">800 X 600</label>
                    <input type="radio" id="800" name="risoluzione" value="800">
                </div>
                <div class="inline radioContainer">
                    RIDIMENSIONA
                    <label for="si">SÌ</label>
                    <input type="radio" id="si" name="ridimensiona" value="si">
                    <label for="no">NO</label>
                    <input type="radio" id="no" name="ridimensiona" value="no">
                </div>
            </div>

            <!-- Linea centrale -->
            <div class="seconda">
                <!-- Barra a sinistra(anteprima delle immagini caricate) -->
                <div class="inline previews" id="divAnteprima">

                </div>

                <!-- Quadrante di scelta a destra -->
                <div class="inline assegnazioni" id="zonaAssegnazione">
                    <!-- Elenco dei quadratini -->
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Occl_Superiore" data-value="0" onclick="divClick('Occl_Superiore')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Occl. Superiore</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Occl_DX" data-value="1" onclick="divClick('Occl_DX')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Occl. DX</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Occl_Frontale" data-value="2" onclick="divClick('Occl_Frontale')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Occl. Frontale</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Occl_SX" data-value="3" onclick="divClick('Occl_SX')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Occl. SX</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Occl_Inferiore" data-value="4" onclick="divClick('Occl_Inferiore')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Occl. Inferiore</p>
                    </div><br/>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Laterale" data-value="5" onclick="divClick('Laterale')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Laterale</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Frontale" data-value="6" onclick="divClick('Frontale')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Frontale</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="Frontale_Sorriso" data-value="7" onclick="divClick('Frontale_Sorriso')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">Frontale Sorriso</p>
                    </div><br/>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="RX_Panoramica" data-value="8" onclick="divClick('RX_Panoramica')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">RX Panoramica</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="RX_Laterale" data-value="9" onclick="divClick('RX_Laterale')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">RX Laterale</p>
                    </div>
                    <div class="inline imgUpload">
                        <div class="inline imgButton" id="RX_Frontale_PA" data-value="10" onclick="divClick('RX_Frontale_PA')">
                            <img src="" alt=""/><br/>
                        </div>
                        <p class="descImg">RX Frontale PA</p>
                    </div>
                </div>
            </div>
            <!-- Linea tasti invia e annulla -->
            <div class="utilsButtonsCOntainer">
                <button class="annulla" @onclick="ResetFileUpload">Annulla</button>
                <button class="salva" @onclick="SaveImages">Invia</button>
            </div>
        </div>
    </div>
}

<script>
    var imgIdCounter = 1; // Initialize the counter
    var lastImg=null; //inizializzo l'ultima immagine cliccata
    var path = './wwwroot/'; //path of the images
    /*
    * Function to append an image to a div
    * in: divId - the id of the div where the image will be appended | dataUrl - the base64 image
    * out: the id of the div
    */
    function appendImageToDiv(divId, dataUrl)
    {
        //get the div
        var div = document.getElementById(divId);
        //create the image
        var img = document.createElement('img');
        img.src = dataUrl;
        img.width = 150;
        img.height = 150;
        img.id = 'img' + imgIdCounter;
        img.onclick = function() { refreshLastImg(this.id); };
        //append the image to the div
        div.appendChild(img);
        //increment the counter to make the id's unique
        imgIdCounter++;
        // Return the id of the div
        return div.id;
    }

    /*
    * Funtion that updates the index of last image clicked
    * in: id - the id of the last image clicked
    */
    function refreshLastImg(id)
    {
        lastImg = id;
    }

    /*
    * Funtion that handle the click of the div (append the last image clicked to the div clicked)
    * in: DivId - the id of the div clicked
    */
    function divClick(divId)
    {
        var div = document.getElementById(divId);
        var img = document.getElementById(lastImg);
        //adjust the style
        img.style='width:110px;height:110px;border-radius:10px;';
        //append the image to the div
        div.appendChild(img);
    }

    /*
    * Funtion that extract the image o each div and return them in an array
    * in: outputType - the type of output (0 - div names | 1 - base64 images)
    * out: the array of div names or base64 images
    */
    function getDivImages(outputType) {
        var parentDiv = document.getElementById('zonaAssegnazione');
        var divs = parentDiv.querySelectorAll('div');

        var divNames = [];
        var base64Values = [];

        for (var i = 0; i < divs.length; i++) {
            if(!divs[i].id){
                //skip this step : invalid name
                continue;
            }
            //cycle the image to get a valid one
            var imgElements = divs[i].getElementsByTagName('img');
            for (var j = 0; j < imgElements.length; j++) {
                if(imgElements[j].src.includes('https')){
                    //skip this step : invalid image
                    continue;
                }

                //push the associated values in the arrays
                divNames.push(divs[i].id);
                base64Values.push(imgElements[j].src.split(',')[1]);
            }
        }
        //filtering and output the arrays based on the output type
        if (outputType===0) {
            divNames = divNames.filter((element, index, self) =>
                element !== undefined && self.indexOf(element) === index
            );
            return divNames;
        }
        base64Values = base64Values.filter(element => element !== undefined);
        return base64Values
    }

    /*
    * another function to append an image from a file
    * in: divId - the id of the div where the image will be appended | imageUrl - the url of the image | filename - the name of the image
    */
    function appendImage(divId, imageUrl, filename) {
        var div = document.getElementById(divId);
        var img = document.createElement('img');

        img.src = imageUrl;
        img.id = filename;
        //adding the click event to the image to call the c# funtion for switching the page
        img.onclick = function() {
            DotNet.invokeMethodAsync('Delta-Dent', 'SwitchPage', this.id, path)
                .then(result => {
                    if (result!=null){
                        location.href='/VisImg'
                    }
                });
        };
        div.appendChild(img);
    }

    /*
    * Function to reset the divs
    * in: divAnteprimaId - the id of the div where the images are stored | zonaAssegnazioneId - the id of the div where the images are assigned
    */
    function resetDivs(divAnteprimaId, zonaAssegnazioneId)
    {
        var divAnteprima = document.getElementById(divAnteprimaId);
        var zonaAssegnazione = document.getElementById(zonaAssegnazioneId);

        // Clear the divs
        divAnteprima.innerHTML = '';
        zonaAssegnazione.innerHTML = '';
    }
</script>

@code{
    private bool _isVisible = false; //variabile che cambia la visibilità del form
    private string _ImgPatient = "./assets/test/test.jpg"; //<- DA SOSTITUIRE CON UN FILE EFFETTIVO    

    [Inject] private IJSRuntime JsRuntime { get; set; }
    
    //---------dati paziente------------
    private string nomePaziente = "Marco", cognomePaziente = "rocciA";

    private string numCartella = "1", etaPaziente = "32a", rischioPaziente = "1", esamePaziente = "/", visitaPaziente = "/", mad = "0", trattamento = "1";

    private string amnesi = "0", primaVisita = "0", parodonto = "0", specialista = "0", prescrizioni = "0", pTrattamento = "0", incontri = "0", referti = "0", presentazioni = "0";

    //funzzione che si occupa di cambiare la visibilità del form visibile -> non visibile e vic.v.
    private void ToggleForm()
    {
        _isVisible = !_isVisible;
    }

    private async Task OpenFilePicker() => await JsRuntime.InvokeVoidAsync("HTMLElement.prototype.click.call", inputFile!.Element);

    //funzione che apre il file picker e salva all'interno di una variabile i file selezionati

    private InputFile? inputFile;
    private IReadOnlyList<IBrowserFile> tempFiles;
    private List<(string divId, IBrowserFile file)> divImages = new();

    ///<summary>
    /// function that stores the files selected by the user in a list and render them in a list in the html page
    ///</summary>
    ///<param name="e">event of the file picker</param>>
    private async Task StoreTempFiles(InputFileChangeEventArgs e)
    {
        //list where the files will be saved 
        try
        {
            //the user might insert more files then expected and it would crash the program if not handled
            tempFiles = e.GetMultipleFiles(11);
        }
        catch (Exception)
        {
            Console.Write("more files uploaded then expected");
        }
        
        //for each file in the list it will be rendered in the html page
        foreach (var file in tempFiles)
        {
            // Read the file as a byte array
            var format = "image/png";
            var resizedImageFile = await file.RequestImageFileAsync(format, 100, 100);
            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);

            // Convert the bytes to a data URL to load the image
            var base64Image = Convert.ToBase64String(buffer);
            var dataUrl = $"data:{format};base64,{base64Image}";

            // Call a JS function to load the images into a div
            var divId = await JsRuntime.InvokeAsync<string>("appendImageToDiv", "divAnteprima", dataUrl);

            // Add the div id and file to the list
            divImages.Add((divId, file));
        }
    }
    
    ///<summary>
    ///funtion that stores the images based on their div id in the folder Images
    ///</summary>
    private async Task SaveImages()
    {
        // Call the JavaScript function to get the div images
        // the js funtion has 2 different outputs, the first one is the name of the divs and the second one is the base64 images so i load them like this
        var divNames = await JsRuntime.InvokeAsync<string[]>("getDivImages", 0);
        string[] base64Imgs = await JsRuntime.InvokeAsync<string[]>("getDivImages", 1);
        
        // Get the path to the directory where you want to save the images
        var imagesDirectoryPath = Path.Combine(env.WebRootPath, "Images");
        
        // Ensure the directory exists by creating it 
        Directory.Delete(imagesDirectoryPath, true);
        Directory.CreateDirectory(imagesDirectoryPath);
        Console.Write(divNames.Length);
        Console.Write(base64Imgs.Length);
        //cicle the array to save the images to the directory
        for (int i = 0; i < base64Imgs.Length; i++)
        {
            //convert the base64 string back to a byte array
            var bytes = System.Convert.FromBase64String(base64Imgs[i]);
            await File.WriteAllBytesAsync(Path.Combine(imagesDirectoryPath, $"{divNames[i]}.png"), bytes);
        }
        
        //call the funtion to render them in the appropriate div
        await LoadEsame();
        //reset the form
        ResetFileUpload();
    }
    
    ///<summary>
    ///Funtion that loads the images in the div "esame"
    ///</summary>
    private async Task LoadEsame()
    {
        Console.Write("Loading images...");
        // Get the path to the directory where the image is located
        var imagesDirectoryPath = "./Images";
        var files = Directory.GetFiles(Path.Combine(env.WebRootPath, imagesDirectoryPath));
        
        //for each file in the directory it will be rendered in the div "esame"
        foreach (var file in files)
        {
            var fileName = Path.GetFileName(file);
            var imageUrl = imagesDirectoryPath + "/" + fileName;
            JsRuntime.InvokeVoidAsync("appendImage", "esame", imageUrl, fileName);
        }

        return;
    }

    ///<summary>
    ///Funtion that cleans the form after the images are saved
    ///</summary>
    private void ResetFileUpload()
    {
        // Reset the divs
        JsRuntime.InvokeVoidAsync("resetDivs", "divAnteprima", "zonaAssegnazione");

        // Reinitialize the variables
        tempFiles = Array.Empty<IBrowserFile>();
        divImages.Clear();
        ToggleForm();
    }

    public static string path= "./";
    
    ///<summary>
    ///override of the "OnInitialized" function to get the path of the images
    ///</summary>
    protected override async Task OnInitializedAsync()
    {
        LoadEsame();
    }
    
    
    
    
    ///<summary>
    /// *deprecated* function that switches the page to the image visualization page
    ///</summary> 
    [JSInvokable]
    public Task SwitchPage(string id)
    {
        Console.Write("\nsto entrando nello switchingg");
        // Get the path to the directory where the image is located
        var imagesDirectoryPath = Path.Combine(env.WebRootPath, "Images");

        // Get the path to the image file
        Console.Write("\nidImmagine:"+id);
        var imagePath = Path.Combine(imagesDirectoryPath, id);
        var imagePathWithoutExtension = imagePath.Substring(0, imagePath.LastIndexOf(".png"));
        Console.Write("\npath img: " + imagePathWithoutExtension);
        Console.Write("\npath img: " + imagePath);
        // Check if the image file exists
        if (File.Exists(imagePath))
        {   
            Console.Write("\nl'immagine esiste -> procedo");
            // Get the path to the directory where you want to copy the image
            var tempImagesDirectoryPath = Path.Combine(env.WebRootPath, "tempImg");

            // Ensure the directory exists
            Directory.CreateDirectory(tempImagesDirectoryPath);

            // Get the path to the new image file
            var newImagePath = Path.Combine(tempImagesDirectoryPath, "temp.png");

            // Copy the image file and overwrite if the file already exists
            File.Copy(imagePath, newImagePath, true);
        }

        return Task.CompletedTask;
    }
}
