/*stile default pulsanti top bar*/
.utilButton{
    background-color: #7FAFE1;
    border:none;
    border-radius: 0.4vw;
    height:4vw;
    width: 4vw;
    transition: filter 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.utilButton:hover{
    filter: brightness(0.80);
}

/*stile applicato alla barra dei pulsanti*/
.buttonContainer{
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5vw;
    max-width: 80vw;
    overflow-x: auto;
    margin-bottom: 2vh;
}

.body{
    height: 85vh;
}


/*container zona paziente*/
.patientInfo[b-g4vpz0jpe1] {
    width: 100%;
    height: 87vh;
    overflow-x: hidden;
    border-radius: 0.4vw;
    background-color: #7FAFE1;
}

/*sezione */
.section{
    background-color: #7FAFE1;
    border-radius: 0.5vw;
    padding: 1rem;
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 90vw;
    overflow-x: auto;
}

/*stile applicato ad ogni input del form*/
.inputForm{
    width:100%;
    min-width: 10rem;
    height: 100%;
    border:none;
    padding: 0.5rem;
    border-radius: 3px;
}

.removeWidthLimitation{
    max-width: inherit;
    min-width: inherit;
}

/*stile applicato ai tasti rapidi*/
.toolButtons{
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    background-color: #3D7BD9;
    height: 4vh;
    aspect-ratio: 1/1;
    border:none;
    border-radius: 5px;
    transition: filte .3s;
}

.toolButtons:hover{
    filter: brightness(0.8);
}

.min-width-15rem{
    min-width: 15rem;
}

.testo{
    margin-top: revert;
    min-width: 9rem;
}
/*mascondo la checkbox originale*/
.checkbox-container input {
    position: fixed;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    cursor: pointer;
}

.fill-page{
    min-height: 44.5vh;
    max-height: 44.5vh;
    overflow-y: auto;
}

/*pulsante per coprire lo standard input dei file*/
.fileButton{
    padding:1.5rem;
    border:none;
    border-radius: 10px;
    background: url("./assets/folder.svg") no-repeat center;
    background-color: #3D7BD9;
    height: 2.5rem;
    width: 2.5rem;
    transition: filter 0.3s;
}

.fileButton:hover{
    filter: brightness(0.8);
}

/*stile checkbox finta*/
.checkmark{
    height: 4vh;
    aspect-ratio: 1/1;
    background-color: #515151;
    border-radius: 5px;
    border: none;
    display: inline-block;
    margin-top: 13%;
}

/*stile checkbox finta selezionata */
.checkbox-container input:checked + .checkmark {
    background: #515151 url("./assets/paziente/check.svg") no-repeat center;
    border: solid 1px rgb(61, 123, 217);
    animation: check 0.5s;
    border: solid 1px;
}

/*animazione checkbox falsa*/
@keyframes check {
    0% {
        border: solid 1px rgba(61, 123, 217, 0.23);
        background-position: -3px;
    }

    25% {
        border: solid 1px rgba(61, 123, 217, 0.47);
        background-position: center;
    }

    50% {
        border: solid 1px rgba(61, 123, 217, 0.73);
        background-position: +3px;
    }

    75% {
        border: solid 1px rgba(61, 123, 217, 0.85);
        background-position: +1px;
    }

    100% {
        border: solid 1px rgb(61, 123, 217);
        background-position: center;
    }
}

/*stili icone pulsanti*/
.add{
    background: url("./assets/paziente/add.svg") no-repeat center;
    background-color: #3D7BD9;
}
.edit{
    background: url("./assets/paziente/edit.svg") no-repeat center;
    background-color: #3D7BD9;
}
.bin{
    background: url("./assets/paziente/bin.svg") no-repeat center;
    background-color: #3D7BD9;
}
.lock{
    background: url("./assets/paziente/lock.svg") no-repeat center;
    background-color: #3D7BD9;
}
.notify{
    background: url("./assets/paziente/notify.svg") no-repeat center;
    background-color: #3D7BD9;
}

.pin{
    background: url("./assets/paziente/pin.svg") no-repeat center;
    background-color: #3D7BD9;
}
.save{
    background: url("./assets/paziente/save.svg") no-repeat center;
    background-color: #3D7BD9;
}

.stamp{
    background: url("./assets/paziente/stamp.svg") no-repeat center;
    background-color: #3D7BD9;
}

.sez{
    width: 20vw;
}

.scacchiera{
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: #5A8BD6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow-x: auto;
    flex-shrink: 0;
}
/*stile immagine paziente*/
.patientImg{
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: solid 2px #3D7BD9;
}

/*sitle applicato ad ogni riquadro del paziente*/
.content-paziente{
    background-color: #3D7BD9;
    border-radius: 0.4vw;
    transition: transform 0.3s;
    padding: 1vw;
    font-weight: bold;
    text-overflow: fade;
    text-transform: uppercase;
    text-align: center;
    color: white;
    transform: perspective(200px);
    width: 85%;
    margin-left: 7.5%;
}

.content-paziente:hover{
    transform: perspective(200px) translateZ(10px);
}

/*stile applicato ai titoletti della sezione paziente*/
.titoloSezione{
    font-size: 0.9vw;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-left: 9%;
}

/*stile applicato al container degli esami*/
.esameContainer[b-g4vpz0jpe1] {
    border-radius: .5vw;
    border: solid 3px white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    max-height: 26vh;
    gap: 0;
    min-width: 15rem;
}
.esameContainer div {
    flex: 0 0 24%;
    margin: 0.5%;
}


/*media query per rendere la pagina resizable*/
@media (max-width: 1700px) {
    .buttonContainer{
        max-width: 75vw;
    }

    .section{
        max-width: 90vw;
        font-size: 1vw;
    }
    .titoloSezione {
        font-size: 1vw;
    }
}

@media (max-width: 1100px) {
    .buttonContainer{
        max-width: 70vw;
    }

    .section{
        max-width: 84vw;
        font-size: 1.1vw;
    }
    .titoloSezione {
        font-size: 1.1vw;
    }
}

@media (max-width: 969px){
    .section{
        max-width: 70vw;
        font-size: 1.2vw;
    }
    .titoloSezione {
        font-size: 1.2vw;
    }
}

@media (max-width: 920px) {
    .buttonContainer{
        max-width: 68vw;
    }

    .section{
        max-width: 60vw;
        font-size: 1.3vw;
    }
    .titoloSezione {
        font-size: 1.3vw;
    }
    
    .patientInfo{
        font-size: 0.8vw;
    }
}

@media (max-width: 700px) {
    .buttonContainer{
        max-width: 55vw;
    }

    .section{
        max-width: 55vw;
        font-size: 1.4vw;
    }
    .titoloSezione {
        font-size: 1.4vw;
    }

    .patientInfo{
        font-size: 2vw;
    }
}

@media (max-width: 635px) {
    .buttonContainer{
        max-width: 80vw;
    }

    .section{
        max-width: 80vw;
        font-size: 1.5vw;
    }

    .utilButton{
        height: 8vw;
        width: 8vw;
    }
    .titoloSezione {
        font-size: 1.5vw;
    }
    
    .patientInfo{
        font-size: 3.5vw;
    }
    
    .titoloSezione{
        font-size: 3vw;
    }
}



/*** DA SISTEMARE **/

.infoForm{
    display:flex;
    margin-left: 0.5%;
    margin-bottom: 0.5rem;
    background-color: #B4D1F0;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
}
.fileBar{
    margin-left: 5px;
    padding: 1rem;
    width: 95%;
    font-weight: bold;
}

.inputFormData{
    margin-left: 5px;
    flex-grow: 1;
    padding-right: -0.1rem;
    width: auto;
    border:none;
    border-radius: 2.5px;
    background-color: white;
}


.inputFormSelezione{
    margin-left: 5px;
    flex-grow: 1;
    width: auto;
    border:none;
    border-radius: 2.5px;
    background-color: white;
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
}

.inputSelezione{
    margin-left: 5px;
    min-width: 12rem;
    border:none;
    height: 2rem;
    border-radius: 2.5px;
    background-color: white;
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
}

.containerStatus{
    display: flex;
    gap:0.3rem;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 60vw;
    flex-wrap: nowrap;
}

.formAggiunta{
    margin-left: 10%;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    position: fixed;
}

.oscuramento {
    z-index: 9;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.17);
    width: 110%;
    height: 100%;
    top: 0;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconda{
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
    margin-left:0.5%;
    height:auto;
    margin-bottom: 0.5rem;
}

.imgButton{
    display: flex;
    height:110px;
    width:110px;
}
.descImg{
    font-weight: bold;
}

/*per safari & google*/
.buttonContainer::-webkit-scrollbar {
    height: 5px;
    background-color: #3D7BD9;
    border-radius: 10rem;
}

/*per firefox*/
.buttonContainer {
    scrollbar-width: thin;
    scrollbar-color: #3D7BD9 #fff;
}

.previews{
    text-align: center;
    width:30%;
    background-color: #3D7BD9;
    border-radius: 10px;
    min-height: 30rem;
    max-height: 30rem;
    overflow-x: auto;
    padding:1rem;
}

.resize {
    width: 100px;
    height: 100px;
}


.imgUpload{
    background-color: #3D7BD9 ;
    border-radius: 10px;
    width: 110px;
    height:110px;
}

.imgUploaded{
    width:90px;
    height:90px;
}

.imgNotUploaded{
    width:150px;
    height:150px;
}

.utilsButtonsCOntainer{
    background-color: #B4D1F0;
    border-radius: 10px;
    width:100%;
    padding: 1rem;
    margin-left: 0.5%;
    margin-bottom: 0.5rem;
    height: 4rem;
    font-size: 0.9rem;
}

.assegnazioni{
    padding:10px;
    gap:4px;
    display: flex;
    flex-wrap: wrap;
    background-color: #B4D1F0;
    border-radius: 10px;
    height: 30rem;
    width:97%;
    max-width: 30rem;
    margin-left:3%;
}

.radioContainer{
    margin-left: 0.5rem;
    display: block ruby;
    border: #3D7BD9 solid 0.3rem;
    border-radius: 10px;
    height: 3rem;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding-bottom: 2.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.annulla{
    width:25%;
    border:none;
    background-color: #3D7BD9;
    height:110%;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    position: relative;
    left: 0.5rem;
}

.salva{
    margin-left: 49%;
    width:25%;
    border:none;
    background-color: #3D7BD9;
    height:110%;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    position: relative;
    right: 0.5rem;
}