@page "/SchedaPazienteR"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject IWebHostEnvironment env

<!--barra dei pulsanti-->
<div class="row buttonContainer">
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton" @onclick="@ToggleForm">carica</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
    <button class="utilButton">...</button>
</div>

<!--corpo centrale della pagina-->
<div class="row body">

    <!--informazioni paziente-->
    <div class="d-none d-md-block col-md-5 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <div class="patientInfo justify-content-center pt-3">

            <!--immagine paziente-->
            <div class="row d-flex justify-content-center">
                <div class="patientImg" style="background: url(@_ImgPatient) no-repeat center; background-size: cover">

                </div>
            </div>

            <!--nome e cognome paziente-->
            <div class="content-paziente mt-4">
                <p class="m-0 text-uppercase">@nomePaziente @cognomePaziente</p>
            </div>

            <!--info cartella-->
            <p class="titoloSezione mt-4">info cartella</p>
            <div class="content-paziente mt-1 row">

                <!--sezione descrizione valore-->
                <div class="col-6">
                    <div class="row">
                        N
                    </div>
                    <div class="row">
                        età paziente
                    </div>
                </div>
                <div class="col-6 text-end">
                    <div class="row justify-content-end">
                        @numCartella
                    </div>
                    <div class="row justify-content-end">
                        @etaPaziente
                    </div>
                </div>
            </div>

            <!--info oas-->
            <p class="titoloSezione mt-4">info oas</p>
            <div class="content-paziente mt-1 row">

                <!--sezione descrizione valore-->
                <div class="col-6">
                    <div class="row">
                        rischio
                    </div>
                    <div class="row">
                        esame
                    </div>
                    <div class="row">
                        visita
                    </div>
                    <div class="row">
                        mad
                    </div>
                    <div class="row">
                        trattamento
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        @rischioPaziente
                    </div>
                    <div class="row justify-content-end">
                        @esamePaziente
                    </div>
                    <div class="row justify-content-end">
                        @visitaPaziente
                    </div>
                    <div class="row justify-content-end">
                        @mad
                    </div>
                    <div class="row justify-content-end">
                        @trattamento
                    </div>
                </div>
            </div>

            <!--info cliniche-->
            <p class="titoloSezione mt-4">info cliniche</p>
            <div class="content-paziente mt-1 row">

                <!--sezione descrizione valore-->
                <div class="col-6">
                    <div class="row">
                        amnesi
                    </div>
                    <div class="row">
                        prima visita
                    </div>
                    <div class="row">
                        parodonto
                    </div>
                    <div class="row">
                        specialista
                    </div>
                    <div class="row">
                        prescrizioni
                    </div>
                    <div class="row">
                        p.trattamento
                    </div>
                    <div class="row">
                        incontri
                    </div>
                    <div class="row">
                        referti
                    </div>
                    <div class="row">
                        presentazioni
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        @amnesi
                    </div>
                    <div class="row justify-content-end">
                        @primaVisita
                    </div>
                    <div class="row justify-content-end">
                        @parodonto
                    </div>
                    <div class="row justify-content-end">
                        @specialista
                    </div>
                    <div class="row justify-content-end">
                        @prescrizioni
                    </div>
                    <div class="row justify-content-end">
                        @pTrattamento
                    </div>
                    <div class="row justify-content-end">
                        @incontri
                    </div>
                    <div class="row justify-content-end">
                        @referti
                    </div>
                    <div class="row justify-content-end">
                        @presentazioni
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--corpo centrale-->
    <div class="col-12 col-md-7 col-xl-8">
        <div class="row section flex-nowrap overflow-auto">
            <div class="col">
                <p class="testo">piano di cura</p>
            </div>
            <div class="col">
                <select class="inputForm">
                    <option value="p">prova</option>
                </select>
            </div>

            <!-- sezione tasti rapidi -->
            <div class="col d-none d-sm-flex flex-nowrap align-items-center">
                <button class="toolButtons me-1 add"></button>
                <button class="toolButtons me-1 edit"></button>
                <button class="toolButtons me-1 lock"></button>
                <button class="toolButtons me-1 notify"></button>
                <button class="toolButtons me-1 bin"></button>
                <button class="toolButtons me-1 save"></button>
                <button class="toolButtons me-1 stamp"></button>
                <button class="toolButtons me-1 pin"></button>
            </div>

            <!-- checkboxes -->
            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="testo">
                    Non iniziato
                </div>
            </div>

            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="testo">
                    Terminato
                </div>
            </div>

            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="testo">
                    Interrotto
                </div>
            </div>

            <div class="col d-flex flex-nowrap align-items-center">
                <div class="me-1">
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkBox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="testo">
                    Documentato
                </div>
            </div>

        </div>

    </div>
</div>

@code {
    private bool _isVisible = false; //variabile che cambia la visibilità del form
    private string _ImgPatient = "./assets/test/test.jpg"; //<- DA SOSTITUIRE CON UN FILE EFFETTIVO    

    //---------dati paziente------------
    private string nomePaziente = "Marco", cognomePaziente = "rocciA";

    private string numCartella = "1", etaPaziente = "32a", rischioPaziente = "1", esamePaziente = "/", visitaPaziente = "/", mad = "0", trattamento = "1";
    
    private string amnesi = "0", primaVisita = "0", parodonto = "0", specialista = "0", prescrizioni = "0", pTrattamento = "0", incontri = "0", referti = "0", presentazioni = "0";
    //funzzione che si occupa di cambiare la visibilità del form visibile -> non visibile e vic.v.
    private void ToggleForm()
    {
        _isVisible = !_isVisible;
    }

}