@page "/VisImg"
@inject IWebHostEnvironment env
@rendermode InteractiveServer
<!-- Barra in alto -->
<div class="buttonContainer">
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
</div>
<!-- Finestra di visualizzazione -->
<div class="mainBody">
    <div class="bigDiv">
        <div>
            <img src="@_imgSrc"/>
        </div>
    </div>
    <!-- Menù a destra -->
    <div class="dx">
        <!-- Schede superiori -->
        <div class="buttonBar">
            <button class="selectedSheet">IMMAGINE</button>
            <button class="Sheet">TRACCIATO</button>
            <button class="Sheet">STRUMENTI</button>
            <button class="Sheet">STRUTTURE</button>
            <button class="Sheet">CONDILOGRAFIA</button>
        </div>
        <!-- Date -->
        <div class="sidePage">
            <div class="dataCont">
                <div  class="text">DATA IMMAGINE</div>
                <div class="dato">GG/MM/AAAA</div>
                <div class="text">ETÀ</div>
                <div class="dato">23a 3m</div>
            </div>
            <!-- Griglia frecce e modifica e sovrapponi -->
            <div class="UtilsButtonS">
                <button class="buttonStr">SOVRAPPONI</button>
                <button class="buttonStr">MODIFICA</button>
                <button class="buttonSx"></button>
                <button class="buttonDx"></button>
            </div>
            <!-- Parte di editing testo -->
            <div class="valutazione">
                <div class="ValtopBar">
                    <div class="text">VALUTAZIONE CLINICA</div>
                    <button class="valButton">STAMPA</button>
                </div>
                <!-- Pulsanti per editare il testo -->
                <div class="contenitorePuls">
                    <button class="bold"></button>
                    <button class="italic"></button>
                    <button class="underline"></button>
                    <div></div>
                    <button class="maiusc"></button>
                    <button class="color"></button>
                    <div></div>
                    <button class="left"></button>
                    <button class="center"></button>
                    <button class="right"></button>
                </div>
                <textarea class="note"></textarea>
            </div><br/>
            <!-- Riga di mezzo sopra al questionario -->
            <div class="categoria">
                <select type="select" class="select"placeholder=" ">
                    <option value="p">Prova</option>
                </select>
                <button class="server"></button>
            </div>
            <!-- Questionario -->
            <div class="bigInputGrand">
                
            </div>
        </div>
    </div>
</div>

@code {

    private string _imgSrc;
    private readonly string _directory = "tempImg";
    
    
    protected override async Task OnInitializedAsync()
    {
        _imgSrc = Directory.GetFiles(Path.Combine(env.ContentRootPath, _directory), "*.png")[0];
        Console.WriteLine(_imgSrc);
    }
    
}