@page "/VisImg"
<!-- Barra in alto -->
<div class="buttonContainer">
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
</div>
<!-- Finestra di visualizzazione -->
<div class="mainBody">
    <div class="bigDiv">
        <div>

        </div>
    </div>
    <!-- Menù a destra -->
    <div class="dx">
        <!-- Schede superiori -->
        <div class="buttonBar">
            <button class="selectedSheet">IMMAGINE</button>
            <button class="Sheet">TRACCIATO</button>
            <button class="Sheet">STRUMENTI</button>
            <button class="Sheet">STRUTTURE</button>
            <button class="Sheet">CONDILOGRAFIA</button>
        </div>
        <!-- Date -->
        <div class="sidePage">
            <div class="dataCont">
                <div  class="text">DATA IMMAGINE</div>
                <div class="dato">GG/MM/AAAA</div>
                <div class="text">ETÀ</div>
                <div class="dato">23a 3m</div>
            </div>
            <!-- Griglia frecce e modifica e sovrapponi -->
            <div>
                <button>SOVRAPPONI</button>
                <button>MODIFICA</button><br>
                <button>(--</button>
                <button>--)</button>
            </div>
            <!-- Parte di editing testo -->
            <div>
                VALUTAZIONE CLINICA<button>STAMPA</button><br/>
                <!-- Pulsanti per editare il testo -->
                <div>
                    <button>...</button>
                    <button>...</button>
                    <button>...</button>
                    <button>...</button>
                    <button>...</button>
                    <button>...</button>
                    <button>...</button>
                    <button>...</button>
                </div><br/>
                <input type="text" placeholder="Lorem ipsum dolor sit amet..."/>
            </div><br/>
            <!-- Riga di mezzo sopra al questionario -->
            <div>
                CATEGORIA<br/>
                <select type="select" placeholder=" ">
                    <option value="p">Prova</option>
                </select>
                <button>...</button>
            </div>
            <!-- Questionario -->
            <div>

            </div>
        </div>
    </div>
</div>

@code {

}