@page "/VisImg"
@inject IWebHostEnvironment env
@rendermode InteractiveServer
<!-- Barra in alto -->
<div class="buttonContainer">
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
</div>
<!-- Finestra di visualizzazione -->
<div class="mainBody">
    <div id="containerDiv" class="bigDiv">
        <button class="button grow" id="growButton">+</button>
        <button class="button shrink" id="shrinkButton">-</button>
        <div class="wrapper">
            <div id="coloredDiv" class="ResizableDiv"></div>
        </div>
    </div>
    <!-- Menù a destra -->
    <div class="dx">
        <!-- Schede superiori -->
        <div class="buttonBar">
            <button class="selectedSheet">IMMAGINE</button>
            <button class="Sheet">TRACCIATO</button>
            <button class="Sheet">STRUMENTI</button>
            <button class="Sheet">STRUTTURE</button>
            <button class="Sheet">CONDILOGRAFIA</button>
        </div>
        <!-- Date -->
        <div class="sidePage">
            <div class="dataCont">
                <div  class="text">DATA IMMAGINE</div>
                <div class="dato">GG/MM/AAAA</div>
                <div class="text">ETÀ</div>
                <div class="dato">23a 3m</div>
            </div>
            <!-- Griglia frecce e modifica e sovrapponi -->
            <div class="UtilsButtonS">
                <button class="buttonStr">SOVRAPPONI</button>
                <button class="buttonStr">MODIFICA</button>
                <button class="buttonSx"></button>
                <button class="buttonDx"></button>
            </div>
            <!-- Parte di editing testo -->
            <div class="valutazione">
                <div class="ValtopBar">
                    <div class="text">VALUTAZIONE CLINICA</div>
                    <button class="valButton">STAMPA</button>
                </div>
                <!-- Pulsanti per editare il testo -->
                <div class="contenitorePuls">
                    <button class="bold"></button>
                    <button class="italic"></button>
                    <button class="underline"></button>
                    <div></div>
                    <button class="maiusc"></button>
                    <button class="color"></button>
                    <div></div>
                    <button class="left"></button>
                    <button class="center"></button>
                    <button class="right"></button>
                </div>
                <textarea class="note"></textarea>
            </div><br/>
            <!-- Riga di mezzo sopra al questionario -->
            <div class="categoria">
                <select type="select" class="select"placeholder=" ">
                    <option value="p">Prova</option>
                </select>
                <button class="server"></button>
            </div>
            <!-- Questionario -->
            <div class="bigInputGrand">
                
            </div>
        </div>
    </div>
</div>

<script>
    // Get the buttons and div elements
     growButton = document.getElementById("growButton");
     shrinkButton = document.getElementById("shrinkButton");
     div = document.getElementById("coloredDiv");
     containerDiv = document.getElementById("containerDiv");

    // Initialize the width and height of the div
    let width = 100;
    let height = 100;

    // Add event listeners to the buttons

    growButton.addEventListener("click", function() {
        // Increase the width and height of the div by 100px
        width += 100;
        height += 100;

        // Update the styles of the div
        div.style.width = width + "px";
        div.style.height = height + "px";

    });


    shrinkButton.addEventListener("click", function() {
        // Decrease the width and height of the div by 100px, but not below 100px
        width = Math.max(width - 100, 100);
        height = Math.max(height - 100, 100);

        
        // Update the styles of the div
        div.style.width = width + "px";
        div.style.height = height + "px";
    });

</script>
@code {

    private string _imgSrc;
    private readonly string _directory = "tempImg";
    
    
    protected override async Task OnInitializedAsync()
    {
        //loadImg();
    }

    
}