@page "/VisImg"
<!-- Barra in alto -->
<div class="buttonContainer">
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
</div>
<!-- Finestra di visualizzazione -->
<div class="bigDiv">
    <div>
        
    </div>
</div>
<!-- Menù a destra -->
<div>
    <!-- Schede superiori -->
    <div>
        <button>IMMAGINE</button>
        <button>TRACCIATO</button>
        <button>STRUMENTI</button>
        <button>STRUTTURE</button>
        <button>CONDILOGRAFIA</button>
    </div>
    <!-- Date -->
    <div>
        DATA IMMAGINE
        <div>GG/MM/AAAA</div>
        ETÀ
        <div>23a 3m</div>
    </div>
    <!-- Griglia frecce e modifica e sovrapponi -->
    <div>
        <button>SOVRAPPONI</button>
        <button>MODIFICA</button><br>
        <button>(--</button>
        <button>--)</button>
    </div>
    <!-- Parte di editing testo -->
    <div>
        VALUTAZIONE CLINICA<button>STAMPA</button><br/>
        <!-- Pulsanti per editare il testo -->
        <div>
            <button>...</button>
            <button>...</button>
            <button>...</button>
            <button>...</button>
            <button>...</button>
            <button>...</button>
            <button>...</button>
            <button>...</button>
        </div><br/>
        <input type="text" placeholder="Lorem ipsum dolor sit amet..."/>
    </div><br/>
    <!-- Riga di mezzo sopra al questionario -->
    <div>
        CATEGORIA<br/>
        <select type="select" placeholder=" ">
            <option value="p">Prova</option>
        </select>
        <button>...</button>
    </div>
    <!-- Questionario -->
    <div>
        
    </div>
</div>

@code {

}